<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.emrim.tjdusdlfkrhd.internship"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_reday"
        android:label="reDay"
        android:roundIcon="@mipmap/ic_launcher_reday"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WriteActivity"></activity>
        <activity
            android:name=".GuideActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".SignInActivity"></activity>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity"></activity>
        <activity android:name=".MypageActivity"></activity>
    </application>

</manifest>